:root {
  --PageBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);
  --ButtonProceedHover: hsl(245, 91%, 66%);
  --ButtonCancelHover: hsl(228, 5%, 19%);
}
