section.middle {
  margin: 1rem 0 0 0;
}

section.middle article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.middle article .title h1 {
  font-size: 1.3em;
}

section.middle article .description {
  margin: 1rem 0 0 0;
  line-height: 1.5rem;
  padding: 0 1.2rem;
}

section.middle article .description p {
  font-size: 0.9em;
  color: var(--DesaturatedBlue);
}

section.middle article .annual-plan {
  width: 90%;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.middle article .annual-plan .container {
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--VeryPaleBlue);
  border-radius: 0.5rem;
}

section.middle article .annual-plan .container .left {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.middle article .annual-plan .container .left .year {
  margin: 0 0 0 1rem;
  line-height: 1.4rem;
}

section.middle article .annual-plan .container .left .year h5 {
  font-size: 0.9em;
  font-weight: 900;
  text-align: left;
}

section.middle article .annual-plan .container .left .year p {
  font-size: 0.9em;
  color: var(--DesaturatedBlue);
  text-align: left;
}

section.middle article .annual-plan .container .right {
  margin: 0 0 0 1rem;
  padding: 0 0.8rem 0 0;
}

section.middle article .annual-plan .container .right a {
  font-weight: 700;
  color: var(--BrightBlue);
  letter-spacing: 0.01rem;
}

section.middle article .annual-plan .container .right a:hover {
  color: var(--ButtonProceedHover);
  text-decoration: none;
}

section.middle article .annual-plan .btn {
  margin: 1rem 0;
  width: 100%;
}

section.middle article .annual-plan .btn .btn-proceed {
  margin: 0 0 1rem 0;
}

section.middle article .annual-plan .btn .btn-proceed button {
  width: 100%;
  padding: 1rem 0;
  font-weight: 900;
  color: #fff;
  background-color: var(--BrightBlue);
  border: none;
  border-radius: 0.6rem;
  letter-spacing: 0.01rem;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

section.middle article .annual-plan .btn .btn-proceed button:hover {
  background-color: var(--ButtonProceedHover);
}

section.middle article .annual-plan .btn .btn-cancel button {
  font-weight: 900;
  color: var(--DesaturatedBlue);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

section.middle article .annual-plan .btn .btn-cancel button:hover {
  color: var(--ButtonCancelHover);
}
/*# sourceMappingURL=middleSection.css.map */